@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFE7E7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  padding-top: 5rem;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #AD88C6;
  padding: 2rem;
  border-radius: 5px;
  width: 500px;
  margin: 0 auto;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
  
}

.todo-input {
  outline: none;
  background: none;
  border-radius: 3px;
  border: 3px solid #E5E1DA;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #E5E1DA;
}

.todo-btn {
  background: #7469B6;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 1rem;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E1AFD1;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #EE4266;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}